<table class="table table-hover">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product Description</td>
            <td>Product Price</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{product.ProductName}}</td>
            <td>{{product.ProductDescription}}</td>
            <td>{{product.ProductPrice}}</td>
            <td><a [routerLink]="['/edit', i]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteProduct(i)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>
